:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: monospace;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.tema-claro {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.tema-escuro {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btn {
    position: absolute;
    top: 20px;
    left: 300px;
    height: 25px;
    width: 50px;
    border-radius: 10%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    font-family: monospace;
}